@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

:root {
    --fonte-principal:'Inter', sans-serif;

    --cor-do-cartao: #FFFFFF;
    --cor-fora-do-cartao: #242424;
    --cor-do-drag:#E5D8EA;
    --cor-do-input: #F5EDF7;
    --cor-da-fonte-principal: #372D3B;
    --cor-da-fonte-secundaria: #864293;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}
 
body {
    background: var(--cor-fora-do-cartao);
    height: 100vw;
    display: grid;
    place-content: center;
    font-weight: 500;
    color: var(--cor-da-fonte-principal);
}

.flex {
    display: flex;
}

.card {
    flex-direction: column;
    background-color:var(--cor-do-cartao);
    gap: 60px;
    padding: 24px 56px;
    border-radius: 40px;
    max-width: fit-content;
    max-height: fit-content;
}

.card-drag { 
    height: 17px;
    width: 168px;   
    border-radius: 999px;
    background-color: var(--cor-do-drag);
    margin-inline: auto;
}

.card-header h1 {
    font-weight: 700;
    font-size: 2.2em;
    line-height: 40px;
    margin-top: 1em;
}

.card-header h1 span {
    color: var(--cor-da-fonte-secundaria);
}

.card-header p {
    font-size: 1.4em;
    line-height: 30px;
}

.card-body {
    justify-content: space-between;
    align-items: center;
}

.card-body .left {
    align-items: center;
}

/*rever*/
.driver { 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* cartão avatar */
.driver-avatar img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover; /* centralizar melhor a imagem*/
    margin-top: 3em;
}

.driver-stars {
    background-color: var(--cor-da-fonte-principal);
    color: var(--cor-do-cartao);
    padding: 8px 22px;
    gap: 10px;
    width: fit-content; /* se adequar ao conteudo*/ 
    border-radius: 999px;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: -2em;
}

.driver-name strong {
    font-weight: 700;
    Size: 18px;
    Line-height: 20px
}

.car img {
    Width:285px;
    Height: 110px;
    margin-top: 4em;
    margin-left: -3em;
}

.right {
    margin-top: 5em;
}

.car-plate {
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 700;
}

.car-model {
    font-size: 1.375em ;
    line-height: 30px;
}

.card-footer {
    margin-bottom: 1em;
    gap: 2.5em;
    align-items: center;
}

.input-wrapper input {
    background: var(--cor-do-input);
    border: 1px solid transparent;
    border-radius: 24px;
    height: 4em;
    width: 520px;
    padding: 0 1em;

    font-size: 1em;
    font-family: var(--fonte-principal);
    font-weight: 500;
    color: var(--cor-da-fonte-principal);
    opacity: 0.6;
}

.input-wrapper input:hover {
    opacity: 1;
    border: 2px solid var(--cor-da-fonte-principal);
}

.input-wrapper label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    
    border-width: 0;
    white-space: nowrap;
    clip: rect(0,0,0,0);
}

.anchor .icon {
    width: 3em;
    height: 3em;
    opacity: 0.7;
}

.anchor .icon:hover {
    opacity: 1;
}



